<!DOCTYPE html>
<html>
<head>
  <title>人力そいれんと</title>
</head>
<body>
<h1>人力そいれんと</h1>
<h2>Nutrition Facts</h2>
<p>1  日間で</p>
<p>必要な栄養の 80 %を摂る</p>

<table border="2" rules="groups">
<!-- 列のグループ(span)、属性を設定 -->
<colgroup></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<colgroup span="2"></colgroup>
<!-- 表のヘッダ -->
<thead>
  <tr>
    <th rowspan="3">nutrition</th>
    <th colspan="2" rowspan="3">s / n</th>
    <th colspan="2" rowspan="3">need</th>
    <th colspan="2" rowspan="3">supply</th>
    <th colspan="2">キャベツ</th>
    <th colspan="2">秋刀魚</th>
    <th colspan="2">オリーブオイル</th>
  </tr>
  <tr>
    <td>1</td>
    <td>個</td>
    <td>1</td>
    <td>尾</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>100</td>
    <td>g</td>
    <td>100</td>
    <td>g</td>
    <td>100</td>
    <td>g</td>
  </tr>
</thead>
<!-- 表のボディ -->
<tbody>
  <tr>
    <td>カロリー</td>
    <td>100</td>
    <td>%</td>
    <td>100</td>
    <td>kcal</td>
    <td>100</td>
    <td>kcal</td>
    <td>30</td>
    <td>kcal</td>
    <td>30</td>
    <td>kcal</td>
    <td>40</td>
    <td>kcal</td>
  </tr>
  <tr>
    <td>総脂質</td>
    <td>100</td>
    <td>%</td>
    <td>100</td>
    <td>g</td>
    <td>100</td>
    <td>g</td>
    <td>30</td>
    <td>g</td>
    <td>30</td>
    <td>g</td>
    <td>40</td>
    <td>g</td>
  </tr>
  <tr>
    <td>総炭水化物</td>
    <td>100</td>
    <td>%</td>
    <td>100</td>
    <td>g</td>
    <td>100</td>
    <td>g</td>
    <td>30</td>
    <td>g</td>
    <td>30</td>
    <td>g</td>
    <td>40</td>
    <td>g</td>
  </tr>
  <tr>
    <td>タンパク質</td>
    <td>100</td>
    <td>%</td>
    <td>100</td>
    <td>g</td>
    <td>100</td>
    <td>g</td>
    <td>30</td>
    <td>g</td>
    <td>30</td>
    <td>g</td>
    <td>40</td>
    <td>g</td>
  </tr>
</tbody>
</table>

</body>
</html>
